@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Orbitron',cursive;
}


 body{
    min-height: 100vh;
    height:100%;
    width: 100%;
 }
 main{
   height:100%;
   width: 100%;
   text-align: center;
   display: inline-block;
    padding: 15px;
    position: relative;
 }
 .teste{
   position: absolute;
   bottom: 20%;
   left: 43%;
   transform: translate(-80%,10%);
 }

 .pokedex{
    width:100%;
    max-width: 700px;
 }
 .pokedex_titule{
   text-align: center;
   display: inline;
  
 }
 .header{
   background-color:#D93030;
   display: block;
}
.titule{
   background-color:#D93030;
   color: #F2F2F2;
   margin-left: 40%;
   display: inline;
}
.menu{
   text-align: left;
   display: inline;
}