@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron',cursive;
}
 body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5,#fff);
    min-height: 100vh;
    height:100%;
    width: 100%;
 }
 main{
    /* display: inline-block; */
    margin-top: 2%;
    padding: 15px;
    height:100%;
    width: 100%;
 }
 .pokedex{
    width:570px;
    height: 500px;
 }