@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Orbitron',cursive;
}
 button{
   text-align: right;
   display: inline-block;
 }
 body{
    text-align: center;
    min-height: 100vh;
    height:100%;
    width: 100%;
 }
 main{
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
 }
 .teste{
   position: absolute;
   bottom: 30%;
   left: 24%;
   transform: translate(-30%,10%);
 }

 .pokedex{
    width:100%;
    max-width: 1000px;
   

 }